// All global Typography goes here

h1,
h2,
h3,
h4,
h5,
h6, 
li,
a,
p,
dt,
dd {
  letter-spacing: 4px;
}

h1,
h2,
h3 {
  font-family: var(--header-font-family);
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
}

h4,
h5,
h6,
li,
a,
p,
dt,
dd {
  font-family: var(--base-font-family);
}

h4,
h5,
h6 {
  font-weight: 100;
}

li,
a,
p,
dt,
dd {
  line-height: 1.5;
  letter-spacing: 0.65px;
  font-weight: lighter;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 42px;
}

h4 {
  font-size: 38px;
}

h5 {
  font-size: 34px;
}

h6 {
  font-size: 20px;
}

p {
  font-size: 16px;
}