// All Hero styles go here

.heroContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 200px;
  color: var(--app-white);
  .reactHighlight {
    color: var(--app-blue);
  }
}