.SlideSubContent {
  margin: 125px 0;
  min-height: 100vh;
  padding-top: 50px;
  border-top: 1px solid var(--app-white);
  &:first-child {
    margin-top: 50px;
  }
  h2 {
    padding: 25px 0;
    color: var(--app-blue);
  }
}