.SlideSubContentList {
  a,
  li {
    color: var(--app-white);
    font-size: 38px;
    padding: 12.5px 0;
    font-weight: 100;
  }
  li {
    &:not(.isQuote) {
      list-style-type: circle;
      margin-left: 30px;
    }

    &.isQuote {
      list-style-type: none;
      border-left: 1px solid var(--app-white);
      padding-left: 20px;
      margin-left: 10px;
      font-style: italic;
      font-size: 20px;
    }
  }
  a {
    text-decoration: none;
    color: var(--app-blue);
    font-weight: 400;
  }
}