.SlideSubContentList {
  a,
  li {
    color: var(--app-white);
    font-size: 28px;
    padding: 12.5px 0;
    font-weight: 100;
  }
  li {
    // list-style-type: none;
    margin-left: 20px;
  }
  a {
    text-decoration: none;
  }
}