.slide {
  width: 100vw;
  color: var(--app-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  div {
    width: 100%;
  }
  h1 {
    border-top: 1px solid var(--app-white);
    margin-bottom: 15px;
    padding-bottom: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  @media only screen and (min-width: 768px) {
    padding: 50px;
    h1 {
      height: 100vh;
    }
  }
  @media only screen and (max-width: 767px) {
    h1 {
      padding: 0 10px;
      height: 275px;
    }
  }
}