.slide {
  width: 100vw;
  padding: 50px;
  color: var(--app-white);
  h1 {
    border-top: 1px solid var(--app-white);
    margin-bottom: 15px;
    padding-bottom: 15px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}